<!-- <mat-form-field>
  <input type="file" (change)="uploadFile($event)" matInput>
  <mat-icon matSuffix>attach_file</mat-icon>
</mat-form-field> -->

<!-- <button mat-button (click)="submit()">Submit</button>
  
  <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress"></mat-progress-bar> -->
  
  
  <!-- <input class="ng-hide" id="input-file-id" type="file" />
    <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>  -->
    
    <!-- <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)" accept=".txt"/>
      <button mat-flat-button color="primary" (click)="csvInput.click()">Choose Spreadsheet File (CSV)</button> -->
      
      <!-- <input type="file" id="myfile" name="myfile"><br><br>
      <input type="submit"> -->
      
      
      <!-- <div (click)="uploadFile.click()">
        <button mat-raised-button color="primary">Choose File</button>
        <input #uploadFile (change)="upload($event)" type='file' style="display:none"/> 
        
      </div> -->
      
      <app-sales></app-sales>